[Unit]
Description=Set permissions on Docker socket
After=docker.service

[Service]
Type=oneshot
ExecStart=/bin/chmod 777 /run/host/var/run/docker.sock

[Install]
WantedBy=multi-user.target